<%- include("../partials/header") %>
  <body>
    <div class="success-container">
      <h1>Home registered successfully!</h1>
      <a href="/" class="back-btn">Back to Home</a>
    </div>
  </body>
</html>
