<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Favorite Added</title>
    <link rel="stylesheet" href="/suggestEdit.css" />
  </head>
  <body>
    <div class="success-container">
      <div class="success-card">
        <h1>Added to Favorites!</h1>
        <p>Your selected home has been marked as favorite successfully.</p>
        <a href="/" class="btn">Go Back Home</a>
      </div>
    </div>
  </body>
</html>
